.footer {
    width: 100%;
    background-color: #2E6CD3;
    color: white;
    text-align: center;
    float: left;
    font-size: 20px;
    border-top:1px solid #ffffff;
}

.footer li	{
    margin-left: 140px;
    float: left;
    width: 30%;
    list-style-type: none;
    font-size: 15px;
    margin-bottom: 0px; !important;
}
 .footer li.center{
     text-align:center;
 }
  .footer li:nth-child(3){
      text-align:right;
   }

@media only screen and (max-device-width: 420px) {
    .footer {
        width: 100%;
        background-color: #2E6CD3;
        color: white;
        text-align: center;
        float: left;
        font-size: 10px;
        border-top:1px solid #ffffff;
    }
    .footer li	{
        margin-left: 0px;
        float: left;
        width: 30%;
        list-style-type: none;
        font-size: 5px;
        margin-bottom: 0px; !important;
    }
    .footer li.center{
        text-align:center;
    }
    .footer li:nth-child(3){
        text-align:right;
    }
}