.header {
  overflow: hidden;
  background-color: #2E6CD3;
  height: 100px;
  border-bottom: 1px solid; !important;

}

.header a {
  float: left;
  color: white;
  text-align: left;
  padding: 6px;
  text-decoration: none;
  font-size: 25px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 40px;
  font-weight: bold;
  margin-top:10px;
}


.header a:hover {
  background-color: dodgerblue;
}

.header a.active {
  background-color: dodgerblue;
  color: #CE7D03;
}

.header-right {
  float: right;
  margin-top: 60px;
  margin-right: 5px;
  letter-spacing: 2px;
  word-spacing: 5px;
}

@media only screen and (max-device-width: 420px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header {
    overflow: hidden;
    background-color: #2E6CD3;
    height: 100px;
    border-bottom: 1px solid; !important;

  }

  .header a {
    float: left;
    color: white;
    text-align: left;
    padding: 6px;
    text-decoration: none;
    font-size: 10px;
    line-height: 10px;
    border-radius: 4px;
  }

  .header a.logo {
    font-size: 40px;
    font-weight: bold;

  }
}