section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    padding: 2em;
    overflow: auto;
    background: #2573dc;
}

.projects>div>img {
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

.projects>div>div {
    height: 50%;
    margin: 1em;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #2573dc;
    border-top:1px solid white;
}

.projects>div {
    border: 1px solid gray;
    border-radius: 1em 1em 0 0;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #2573dc;
}
section.project-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

.project-form>form {
    display: flex;
    flex-direction: column;}

#project-1 > div > h2, #project-1 > div > p{
    text-align: center;
    border-bottom:1px solid white;
}

@media only screen and (max-device-width: 420px) {

}